*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{

    --width:300px;
    --padding:10px;
    --bgcolor:#5b639c;
    --hovercolor:rgb(75, 71, 71);
    --width-collapsed:50px;


}



body{
    background-color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin:0;
    margin-left: var(--width-collapsed);

}

.body-expanded{
    margin-left: var(--width);
}
#main-container{
    color: white;
}

#side-menu{
    background-color: var(--bgcolor);
    color: rgb(71, 97, 18);
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    
}

#side-menu a{
    color: white;
    text-decoration: none;
}



#side-menu #header{
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
    z-index: -1;
}

#side-menu #header #title{
box-sizing: border-box;
overflow: hidden;    
}

#side.menu #header #title, #side-menu #header #menu-btn{
    vertical-align: middle;
}

#side-menu #header #menu-btn{
    display: inline-block;
   
}
#side-menu #header #menu-btn{
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
    align-content: right;
    height: 75px;
    padding-top: 25px;
    
    
}
#side-menu #header #menu-btn:hover{
    background-color: var(--hovercolor);
}

#side-menu #header #menu-btn .btn-burger{
    background-color: white;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    
}

#side-menu #profile{
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding);
    text-align: center;
}

#side-menu #profile #photo{
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;

}

#side-menu #profile #photo img{
    border-radius: 50%;
    width: 60%;

}

#side-menu #profile #photo, #side-menu #profile #name{
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
}


/* submenu*/

#side-menu #menu-items{
    overflow: hidden;
}
#side-menu #menu-items .item{
    width: var(--width);

}
#side-menu #menu-items .item .icon,#side-menu #menu-items .item .tittle{

    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#side-menu #menu-items .item a{
    display: block;
}
#side-menu #menu-items .item a:hover{
    background-color: var(--hovercolor);

}
#side-menu #menu-items .item .icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
    color: white;

}
#side-menu #menu-items .item .icon img{
    width: 100%;
    
}
#side-menu #menu-items .item .tittle{
    padding: var(--padding) 0;
    
}

#side-menu #menu-items .item.separador {
    
    border-bottom: solid 1px var(--hovercolor);
    margin: 10px 0;
}

.menu-expanded{
    width: var(--width);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menu-expanded #header #tittle{
    display: inline-block;
    width: calc(100% - 60px);
    margin-right: -5px;
    padding: var(--padding);
    text-align: center;

}

.menu-expanded #header #tittle span{
    width: calc(var(--width) - var(--width) -10px);
    overflow: hidden;
    display: inline-block;
    
    
}
.menu-expanded #profile #photo{
    width: 200px;
}

.menu-expanded #header #menu-btn{
    cursor: pointer;
  padding-left: 90%;
 
    
    
}
.menu-expanded #profile #name{
    width: 100%;
}

.menu-collapsed{
    width: var(--width-collapsed);
}

.menu-collapsed #header #tittle{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    display: none;
}


.menu-collapsed #profile #name{
    display: none;
}

.menu-collapsed .item{
    width: 100px;

}

/* anuncio estilo */

.trailer{
	position: fixed;
	top: 100%;
	left: 100%;
	transform: translate(-100%,-100%);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,.9);
	z-index: 10;
	visibility: hidden;
	opacity: 0;
}
.trailer video{
	width: 70%;
	height: 70%;
	outline: none;
	position: relative;
}
.close{
	position: absolute;
	top: 30px;
	right: 30px;
	color: #fff;
	font-size: 42px;
	cursor: pointer;
}

.numero{
    display: none;
     
   }
   
   .pos{
     align-items: center;
      position: absolute;
     
   }
   
   
   .contar{
   
       width: 5%;
       height: 5%;
       display: flex;
       
       padding: 13px 10px 13px;
      
   
   }
   
   
   
   
   
   .fill {
       font-size: 20px;
       font-weight: 200;
       letter-spacing: 1px;
       padding: 13px 50px 13px;
       outline: 0;
       border: 1px solid black;
       cursor: pointer;
       position: relative;
       background-color: rgba(0, 0, 0, 0);
     }
     
     .fill::after {
       content: "";
       background-color: #3e9b3a;
       width: 100%;
       z-index: -1;
       position: absolute;
       height: 100%;
       top: 7px;
       left: 7px;
       transition: 0.2s;
     }
     
     .fill:hover::after {
       top: 0px;
       left: 0px;
     }
   

     
     
@media (max-width: 901px){
	.trailer video{
		max-width: 90%;
	}
}

